<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuretestjson20230203140709.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ea10f2db-c45d-46cb-a791-28d67f6dd88b/resourcegroups/FunctionApp120230119165602ResourceGroup/providers/Microsoft.Web/sites/AzureTestJson20230203140709</ResourceId>
    <UserName>$AzureTestJson20230203140709</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azuretestjson20230203140709.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>